	
{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" width="device-width", initial-scale="1">
	<title>Portfolio</title>
	<link rel='stylesheet' href='{% static "portfolio.css" %}'>
	<link rel='stylesheet' href='{% static "hover.css" %}'>
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,700" rel="stylesheet">
</head>
<body>
	<div id="main-project">
		<header class="wrapper">
			<nav>
				<div class="logo">
					<h1><a href="{% url 'home' %}"><img src="{% static 'logo6.png' %}" class="home-logo" alt="home-logo" /></a></h1>
				</div>
				<ul class="nav-links">
					<li><a href="{% url 'about' %}">about</a></li>
					<li><a href="{% url 'article:list' %}">blog</a></li>
					<li><a href="{% url 'portfolio:list' %}">portfolio</a></li>
					<li><a href="{% static 'cv.pdf' %}" download="Yushkova_CV" class="hvr-bounce-to-right get-cv-btn">get CV</a></li>
				</ul>
				<div class="burger">
					<div class="line1"></div>
					<div class="line2"></div>
					<div class="line3"></div>
				</div>
			</nav>
		</header>
		<div class="project-main">
			<h1 class="project-list">Project List</h1>
			<div class="list-whole">
				<div class="about-projects">
					<h3>About projects</h3>
					<p>jfkdhgnyvwsbficdsyb we6rwebdsgfgdsk kjdskvhfmsdg</p>
				</div>
				{% for project in project %}
				<div class="list-item">	
					<img class="thumb-img" src="{{ project.thumb.url }}" />
					<h3 id="project-title"><a href="{{project.slug}}">{{ project.title }}</a></h3>
					<p>{{ project.snippet }}</p>
					<p class="project-date">{{ project.date }}</p>
				</div>
				{% endfor %}
			</div>
		</div>
		<script src='{% static "app.js" %}'></script>  
	</body>
	</html>
