{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" width="device-width", initial-scale="1">
	<title>Portfolio</title>
	<link rel='stylesheet' href='{% static "styles.css" %}'>
	<link rel='stylesheet' href='{% static "hover.css" %}'>
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>
<body>
	<div id="main">
		<header class="wrapper">
			<nav>
				<div class="logo">
					<h1><a href="{% url 'home' %}"><img src="{% static 'logo.png' %}" class="home-logo" alt="home-logo" /></a></h1>
				</div>
				<ul class="nav-links">
					<li><a href="{% url 'about' %}">about</a></li>
					<li><a href="{% url 'article:list' %}">blog</a></li>
					<li><a href="{% url 'portfolio:list' %}">portfolio</a></li>
					<li><a href="{% static 'cv.pdf' %}" download="Yushkova_CV" class="hvr-bounce-to-right get-cv-btn">get CV</a></li>
				</ul>
				<div class="burger">
					<div class="line1"></div>
					<div class="line2"></div>
					<div class="line3"></div>
				</div>
			</nav>
		</header>
		{% block content %}

		<div class="project-detail">
			<div class="project-info">
				
				<div class="project-details">
					<h2>{{project.title}}</h2>
					<img src="{{ project.thumb.url }}" class="project-thumb" />
					<p>{{project.body}}</p>
					<div class="code-links">
						<p><a href="{{project.urlDemo}}" class="demo-link"><i class="fas fa-laptop"></i>Live <span>Demo</span></a></p>
						<p><a href="{{project.urlGit}}" class="github-link"><i class="fab fa-github"></i>Source <span>Code</span></a></p>
					</div>
					<div class="techno">
						<p>Technologies used</p>
						<ul class="techno-icons">
							<li><i class="fab fa-html5" title="HTML5"></i></li> 
							<li><i class="fab fa-css3-alt" title="CSS3"></i></li> 
							<li><i class="fab fa-react" title="React"></i></li> 
							<li><i class="fab fa-npm" title="npm"></i></li>
							<li><i class="fab fa-js-square" title="JavaScript"></i></li>
						</ul>
					</div>
					<p>{{project.date}}</p>
				</div>
			</div>
		</div>
<script src='{% static "app.js" %}'></script>  
		{% endblock %}