

body {
	background-color: #fff;
	width: 100%;
	height: 100vh;
	color: #222;
	margin: 0 auto;
	padding: 0;
	background-repeat: no-repeat;
	background-image: 
	url(about_girl.svg);
	background-position: 
	top -160px left 60px;

	background-size: 
	1000px 900px;
}

.wrapper-about-section {
	max-width: 1020px;
	margin: 0 auto;
}

#about-main {
	height: 100vh;
}


nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 30px;
}

.nav-links {
	display: flex;
	width: 40%;
	justify-content: space-around;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	list-style-type: none;
	font-weight: 700;
	margin-left: 350px;
}

.nav-links li {
	margin-left: 40px;
	transition: all .2s ease-in-out;
}

.nav-links li:hover {
	transform: scale(1.2);

}

nav a {
	color: #0028ff;

}

nav button{
	background: none;
	color: #0028ff;
	cursor: pointer;
	border: 0;
	font-size: 16px;

}

.get-cv-btn {

	color: #10eaf0;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
}

.get-cv-btn:hover {
	color: #0028ff;
}

.burger {
	display: none;
}


.burger div{
	width: 30px;
	height: 3px;
	background-color: #0028ff;
	margin: 5px;
	transition: all 0.4s ease;

}


.nav-about-section {
	margin-top: 30px;
}

a, a:hover, a:visited{
	text-decoration: none;
}

a:hover {
	color: #10eaf0;
}
nav a {
	color: #0028ff;
}

.about-main {

	display: flex;
	flex-direction: row;

}

.intro {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 45%;
	margin: 6% 13% 10% auto;
	height: 50vh;
}


.intro-text h4 {
	margin-left: 100px;
	font-family: 'Raleway', sans-serif;
	color: #0028ff;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 48px;
	font-weight: 700;
}

.intro-text h6 {
	margin-left: 100px;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #0028ff;
	margin-top: 0;
	margin-bottom: 0;
}

/*
.intro-text h6 span, .intro-text p span {
	color: #10eaf0;
}
*/
.intro-text p {
	margin-left: 100px;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #494453;
	margin-top: 10px;
	margin-bottom: 0;
}

.icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-bottom: 15px;
	transition: all .2s ease-in-out;
}

.icon:hover {
	transform: scale(1.7);
}

.icons-all{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 40px;
	margin-top: 150px;
	position: fixed;
}

.skill-icon {
	width: 60px;
	height: 70px;
}


.tech-icons {
	min-height: 400px;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 45%;
	margin: 0 auto;
}

.skill-icon {
	flex: 0 0 auto;
	margin: 25px;
	width: 90px;
	height: 90px;
	transition: all .3s ease-in-out;
}

.skill-icon:hover {
	transform: scale(1.2);
}

.tech-header h1{
	display: flex;
	justify-content: center;
	color: #6200ea;
	font-size: 46px;
	font-family: 'Raleway', cursive;
	font-weight: 700;
	margin: 5% auto 2% auto;

}

.tech-header h3, .services h3 {
	display: flex;
	justify-content: center;
	color: #0028FF;
	font-size: 26px;
	font-family: 'Raleway', cursive;
	font-weight: 700;
}

.services {
	height: 100vh;
}

.service-cards {
	display: grid;
	width: 80%;
	margin: 100px auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 100px;
	grid-template-rows: 370px;
	justify-content: center;

}

.card1, .card2, .card3 {
	-webkit-box-shadow: 0px 0px 7px 1px rgba(73,68,83,0.55); 
	box-shadow: 0px 0px 7px 1px rgba(73,68,83,0.55);
	border-radius: 10px;
	transition: all .4s ease-in-out;
}

.card1:hover, .card2:hover, .card3:hover {
	transform: scale(1.1);

}


.card1 h4, .card2 h4, .card3 h4{
	text-align: center;
	color: #0028FF;
	font-size: 20px;
	font-family: 'Raleway', cursivesans-serif;
	font-weight: 600;
	align-self: start;
	margin-top: 55px;
	padding: 0 7%;
}

.service {
	width: 100px;
	height: 100px;
	margin: 10px auto 10px 30%;
	align-items: center;
}

.card1 p, .card2 p, .card3 p{
	color: #494453;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	padding: 0 9%;
}

@media screen and (max-width: 1105px) {

	body{
		overflow-y: hidden;
		overflow-x: hidden;
	}



}

@media screen and (max-width: 917px) {

	.wrapper{
		max-width: 850px;
	}
}

@media screen and (max-width: 910px) {

	body {
		overflow-x: hidden;
	}

	.wrapper{
		max-width: 800px;
	}

	
	nav {
		margin: 0 0;
	}

	.nav-links{
		position: absolute;
		display: flex;
		flex-direction: column;
		height: 100vh;
		top: 0;
		margin: 0 auto;
		width: 100%;
		align-items: center;
		background-color: rgba(111, 0, 247, 0.8);
		transform: translateX(150%);
		transition: transform 0.5s ease-in;
		opacity: 0;
		z-index: 1;

	}

	.nav-links li {
		opacity: 0;
	}

	.nav-links li a {
		color: #fafafa;
		font-size: 30px

	}

	.get-cv-btn {
		border: 1px solid #35F5BB;
		padding: 10px 15px;
		border-radius: 4px;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
	}

	.burger {
		display: block;
		cursor: pointer;
		z-index: 1;
	}

}

.nav-active {
	transform: translateX(0);
	opacity: 1;
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(100px);

	}

	to {
		opacity: 1;
		transform: translateX(0px);

	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
	background-color: #35F5BB;
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
	background-color: #35F5BB;
}

@media screen and (max-width: 700px) {

	body {
		overflow-x: hidden;
	}

	.wrapper{
		max-width: 800px;
	}

}