

body {
	margin: 0;
	padding: 0;
	background-color: #CCFCFD;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	background-image:
	url(top_cloud.svg),
	url(blue_cloud.svg);


	background-position:
	top -80px left 0,
	bottom 30px right 300px;


	background-size:
	350px 400px,
	550px 550px;
}

h1, h2, h3, h4, h5{
	font-weight: normal;
	margin: 0;
}

a, a:hover, a:visited{
	text-decoration: none;
}

a:hover {
	color: #35F5BB;
}

.wrapper{
	max-width: 1020px;
	margin: 0 auto;
}

#main {

	width: 100%;
	height: 100vh;
}


nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 30px;
}

.nav-links {
	display: flex;
	width: 40%;
	justify-content: space-around;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	list-style-type: none;
	font-weight: 700;
	margin-left: 350px;
}

.nav-links li {
	margin-left: 40px;
	transition: all .2s ease-in-out;
}

.nav-links li:hover {
	transform: scale(1.2);

}

nav a {
	color: #6200ea;

}

nav button{
	background: none;
	color: #6200ea;
	cursor: pointer;
	border: 0;
	font-size: 16px;

}

.get-cv-btn {

	color: #1ee3cf;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
}

.get-cv-btn:hover {
	color: #6200ea;
}

.burger {
	display: none;
}


.burger div{
	width: 30px;
	height: 3px;
	background-color: #6200ea;
	margin: 5px;
	transition: all 0.4s ease;

}

#main-project {
	width: 100%;
	height: auto;
	padding-bottom: 30px;
}

/* PROJECT LIST PAGE */

#project-title a{
	color: #00dba0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}

.thumb-img {
	width: 250px;
	height: 150px;
	margin: 0 0 15px 0;
}

.project-list {
	text-align: center;
	color: #6200ea;
	font-size: 36px;
	font-family: 'Raleway', cursive;
	font-weight: 700;
}



.list-whole{
	width: 55%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 25px;
	margin: 50px auto;
	color: #222;
}

.list-item{
	position: relative;
	background-color: #fafafa;
	border-radius: 5px;
}

.list-item h3, .list-item p {
	padding: 0 15px;
}

.thumb-img {
	width: 100%;
	height: 250px;
}

.list-item h3 {
	color: #6200ea;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 14px;
}

.list-item p {
	color: #6200ea;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 12px;
}


.project-main {
	margin-top: 80px;
}

/* INDUVIDUAL PROJECT PAGE */

.project-info {
	display: flex;
	flex-direction: row;
	margin: 50px 150px;
}

.project-info img {
	width: 45%;
	height: 35%;
}

.project-details {
	margin-left: 40px;
	align-content: center;
}

.project-details h2 {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 2em;
	font-weight: 400;
}

.project-details p {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 1.3em;
	font-weight: 300;
}

.project-details p:last-child {
	font-family: 'Lato', sans-serif;
	color: #84ffff;
	font-size: 1.1em;
	font-weight: 300;
}

.code-links {
	display: flex;
	flex-direction: row;
}

.fa-laptop, .fa-github {
	margin-right: 15px;
}

.github-link {
	margin-left: 50px;
	font-size: 20px;
}

.demo-link span, .github-link span {
	color: #84ffff;  
}

.demo-link {
	font-size: 20px;

}

.code-links i{
	font-size: 26px;

}

.techno {
	margin: 0;
	padding: 0;
}

.techno p {
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-weight: 300;
}

.techno p span {
	color: #84ffff;  
}

.techno-icons {
	display: flex;
	flex-direction: row;
	color: #fff;
	list-style: none;
	padding: 0;
}

.techno-icons i {
	font-size: 26px;
	margin-left: 8px;
}
