

body {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5; 
	/* background-image: linear-gradient(300deg, #33FFED  0%, #632695 60%); */
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	background-image:
	url(half.svg),
	url(elipse.svg),
	url(main.svg);

/*	url(circles.svg),
	url(small_grenn_dots.svg),
	url(small_blue_dots.svg),
	url(zigzag.svg),
	url(lines.svg); */

	background-position:
	
	top 330px left -50px,
	top 200px right -60px,
	100% 100%;
/*	center center,
	top 100px left 100px,
	bottom 100px right 100px,
	bottom 20px left 70px,
	center center; */

	background-size:
	
	200px 200px,
	250px 250px,
	100% auto;
/*	500px auto,
    250px 200px,
    250px 250px,
    150px 150px,
    100% auto; */
}

.main-content{
	color: #fff;
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='3.2' stroke-opacity='0.89'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");

}


h1, h2, h3, h4, h5{
	font-weight: normal;
	margin: 0;
}

a, a:hover, a:visited{
	text-decoration: none;
}

a:hover {
	color: #35F5BB;
}
/*
a {
	color: #0540D3;
}

*/
#main {

	width: 100%;
	height: 100vh;

}

#main-project {
	width: 100%;
	height: auto;
	padding-bottom: 30px;
}

#about-main {
	background-color: #fff;
	width: 100%;
	height: auto;
	padding-bottom: 30px;
	color: #222;
}


.main-header {
	width: 90%;
	display: flex;
	flex-direction: row;
}

.main-header h1 {
	color: #ffffff;
	font-size: 54px;
	text-align: left;
	font-family: 'Quicksand', cursive;
	font-weight: 700;
}

.main-text {
	color: #ffffff;
	font-size: 54px;
	text-align: left;
	font-family: 'Quicksand', cursive;
	font-weight: 700;
	margin-top: 0;
}

.main-header h1 span {
	color: #35F5BB;
}

.wrapper{
	max-width: 1020px;
	margin: 0 auto;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 40px;
}

.nav-links {
	display: flex;
	width: 35%;
	justify-content: space-around;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	list-style-type: none;
	font-weight: 700;
	margin-left: 350px;
}

.nav-links li {
	margin-left: 40px;
}

nav button{
	background: none;
	color: #6F00F7;
	cursor: pointer;
	border: 0;
	font-size: 16px;

}

.get-cv-btn {
	border: 1px solid #0540D3;
	padding: 10px 15px;
	border-radius: 4px;
	color: #0540D3;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
}

.burger {
	display: none;
}


.burger div{
	width: 30px;
	height: 3px;
	background-color: #6F00F7;
	margin: 5px;
	transition: all 0.4s ease;

}

.info {
	margin-top: 150px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 70px;
	padding: 20px 0;
}


.icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-bottom: 15px;
}

.icons-all{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 40px;
	margin-top: 150px;
}

.intro-home {
	margin-left: 200px;
	margin-top: 100px;
	width: 60%;
}

.intro-message {
	width: 35%;
	color: #3B3D3D;
	font-family: 'Raleway', sans-serif;
	font-size: 19px;
	margin-top: 80px;
	line-height: 30px;
}

.learn-more-btn {
/*	border: 1px solid #fff; 
	padding: 15px 25px; 
	border-radius: 4px; */
	background-color: transparent;
	border: none; 
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 300;

}

.learn-more-btn a {
	color: #fff;	
}

.learn-more-btn a:hover {
	color: #35F5BB;
}

.articles{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
}

.article{
	padding: 10px;
	border: 1px solid #84ffff;
	position: relative;
	padding-bottom: 40px;
	font-family: 'Lato', sans-serif;
}

.article-list {
	color: #fff;
}

.article h2{
	font-size: 1.2em;
}

.article .author{
	padding: 10px;
	background: #84ffff;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0;
}

.article-detail .article{
	padding: 0;
}

.article-detail  .article img{
	max-width: 100%;
}

.article-detail  .article h2{
	text-align: center;
	margin: 20px auto;
	font-size: 2em
}


.article-detail  .article p{
	margin: 10px 20px;
	text-align: center;
}

/* PROJECT LIST PAGE */

#project-title a{
	color: #00dba0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}

.thumb-img {
	width: 250px;
	height: 150px;
	margin: 20px 0;
}

.project-list {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	color: #fff;
	font-size: 48px;
}
.project-list span {
	color: #84ffff;
	font-weight: 300;
	font-size: 32px;
}

.list-whole{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 70px;
	margin: 35px 150px;
	color: #222;
}

.list-item{
	padding: 25px;
	position: relative;
	font-family: 'Lato', sans-serif;
	background-color: #fafafa;
	color: #222;
	border-radius: 8px;
}

.list-item p {
	color: #222;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}


.project-main {
	margin-top: 80px;
}

/* INDUVIDUAL PROJECT PAGE */

.project-info {
	display: flex;
	flex-direction: row;
	margin: 50px 150px;
}

.project-info img {
	width: 45%;
	height: 35%;
}

.project-details {
	margin-left: 40px;
	align-content: center;
}

.project-details h2 {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 2em;
	font-weight: 400;
}

.project-details p {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 1.3em;
	font-weight: 300;
}

.project-details p:last-child {
	font-family: 'Lato', sans-serif;
	color: #84ffff;
	font-size: 1.1em;
	font-weight: 300;
}

.code-links {
	display: flex;
	flex-direction: row;
}

.fa-laptop, .fa-github {
	margin-right: 15px;
}

.github-link {
	margin-left: 50px;
	font-size: 20px;
}

.demo-link span, .github-link span {
	color: #84ffff;  
}

.demo-link {
	font-size: 20px;

}

.code-links i{
	font-size: 26px;

}

.techno {
	margin: 0;
	padding: 0;
}

.techno p {
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-weight: 300;
}

.techno p span {
	color: #84ffff;  
}

.techno-icons {
	display: flex;
	flex-direction: row;
	color: #fff;
	list-style: none;
	padding: 0;
}

.techno-icons i {
	font-size: 26px;
	margin-left: 8px;
}

/* ABOUT PAGE */

.intro {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 0;
	grid-template-areas: 
	". left right .";
	margin-top: 5%;
	width: 100%;

}

.intro-text {
	grid-area: right;
	align-self: center;
	width: 100%;
}

.intro-text h4 {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 36px;
	font-weight: 400;
}

.intro-text h4 span{
	font-family: 'Raleway', sans-serif;
	color: #84ffff;
	font-size: 36px;
	font-weight: 300;
}

.intro-text p {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
}

.intro-text p span {
	font-family: 'Lato', sans-serif;
	color: #84ffff;
	font-size: 20px;
	font-weight: 300;
	font-style: italic;
}

.intro img {
	grid-area: left;
	align-self: center;
	justify-self: right;
	width: 320px;
	height: 220px;
	-webkit-clip-path: circle(40% at 50% 50%);
	clip-path: circle(40% at 50% 50%);
}

.fa-html5 {
	margin-left: -15px;
}

/* LOGIN AND ADD ARTICLE FORMS */

.site-form {
	margin-top: 60px;
	border: 1px solid #00dba0;
	padding: 20px;
}

.site-form input, .site-form textarea{
	display: block;
	margin: 20px 0 0px 0;
	padding: 10px;
}

a.highlight{
	border: 2px solid #35F5BB;
	padding: 10px;
	border-radius: 4px;
	color: #35F5BB;
}

.helptext, .helptext ul{
	margin: 0 auto 20px;
	color: #bbb;
	font-size: 0.9em;
	display: block;
}

.errorlist li{
	padding: 10px;
	list-style-type: none;
	border: 1px solid #FF5722;
	margin: 10px 0;
	color: #FF5722
}

.errorlist{
	padding: 0;
}

.site-form input[type="submit"]{
	background: #00dba0;
	border: 0;
	color: #fff;
	font-size: 1.2em;
	border-radius: 4px;
	margin: 10px 0;
}

@media screen and (max-width: 1316px) {
	body {
		height: 100vh;
		width: 100%;

		background-position:
		top 330px left -50px,
		top 200px right -60px,
		center center;

		background-size:
		200px 200px,
		250px 250px,
		1316px 736px;
	}
}

@media screen and (max-width: 1105px) {

	.intro-home {
		margin-left: 150px;
		margin-top: 100px;
		width: 60%;
	}



}

@media screen and (max-width: 917px) {
	.wrapper{
		max-width: 850px;
	}
}

@media screen and (max-width: 910px) {

	body {
		overflow-x: hidden;
	}

	.wrapper{
		max-width: 800px;
	}

	.intro-home {
		margin-left: 100px;
		margin-top: 16vh;
	}

	.icons-all {
		margin-top: 25vh;
	}

	.main-header h1 {
		font-size: 48px;
	}

	.main-text {
		font-size: 48px;
	}

	.home-logo {

		padding-top: 30px;
	}
	
	nav {
		margin: 0 0;
	}

	.nav-links{
		position: absolute;
		display: flex;
		flex-direction: column;
		height: 100vh;
		top: 0;
		margin: 0 auto;
		width: 100%;
		align-items: center;
		background-color: rgba(111, 0, 247, 0.8);
		transform: translateX(150%);
		transition: transform 0.5s ease-in;

	}
 
	.nav-links li {
		opacity: 0;
	}

	.nav-links li a {
		color: #fafafa;
		font-size: 30px

	}


.get-cv-btn {
	border: 1px solid #35F5BB;
	padding: 10px 15px;
	border-radius: 4px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

	.burger {
		display: block;
		cursor: pointer;
		z-index: 1;
	}



}

.nav-active {
	transform: translateX(0);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);

	}

	to {
		opacity: 1;
		transform: translateX(0px);

	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
	background-color: #35F5BB;
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
	background-color: #35F5BB;
}

