	
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="Description" content="FRont-End developer Yushkova, responsive design, react, for hire">
	<title>Articles</title>
	<link rel='stylesheet' href='{% static "about.css" %}'>
	<link rel='stylesheet' href='{% static "hover.css" %}'>
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
</head>
<body>
	<div id="about-main">
		<header class="wrapper-about-section">
			<nav class="nav-about-section">
				<div class="logo">
					<h1><a href="{% url 'home' %}"><img src="{% static 'logo6.png' %}" class="home-logo" alt="home-logo" /></a></h1>
				</div>
				<ul class="nav-links">
					<li><a href="{% url 'about' %}">about</a></li>
					<li><a href="{% url 'article:list' %}">blog</a></li>
					<li><a href="{% url 'portfolio:list' %}">portfolio</a></li>
					<li><a href="{% static 'cv.pdf' %}" download="Yushkova_CV" class="hvr-bounce-to-right get-cv-btn">get CV</a></li>
				</ul>
				<div class="burger">
					<div class="line1"></div>
					<div class="line2"></div>
					<div class="line3"></div>
				</div>
			</nav>
		</header>
		<section class="about-main">
			<div class="icons-all">
				<a href="https://www.linkedin.com/in/yuliya-yushkova/" target="_blank" rel="noopener"><img src="{% static 'linkedin_about.svg' %}" class="icon" alt="linkedin-icon"></a>
				<a href="mailto:kuroi.kasa1509@gmail.com" class="email-link" target="_blank" rel="noopener"><img src="{% static 'gmail_about.svg' %}" class="icon" alt="email-icon"></a>
				<a href=""><img src="{% static 'skype_about.svg' %}" class="icon" alt="skype-icon"></a>
				<a href="https://github.com/Yulya-Yu" target="_blank" rel="noopener"><img src="{% static 'git_about.svg' %}" class="icon" alt="github-icon"></a>
			</div>
			<div class="intro">
				<div class="intro-text">
					<h4>Hi, I'm <span>Yuliya</span></h4>
					<p>An aspiring <span>Front-End Developer</span> based in Tomsk, Russia. I have a passion for web design and love to create clean and responsive layouts using the latest technologies available. If you have a project in mind, think you can use my help with something or just fancy saying hi, <span>get in touch.</span></p>
				</div>
			</div>
		</section>

	</div>
	<script src='{% static "app.js" %}'></script>  
</body>
</html>