	
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="Description" content="FRont-End developer Yushkova, responsive design, react, for hire">
	<title>Articles</title>
	<link rel='stylesheet' href='{% static "about.css" %}'>
	<link rel='stylesheet' href='{% static "hover.css" %}'>
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
</head>
<body>
	<div id="about-main">
		<header class="wrapper-about-section">
			<nav class="nav-about-section">
				<div class="logo">
					<h1><a href="{% url 'home' %}"><img src="{% static 'logo7.png' %}" class="home-logo" alt="home-logo" /></a></h1>
				</div>
				<ul class="nav-links">
					<li><a href="{% url 'about' %}">about</a></li>
					<li><a href="{% url 'article:list' %}">blog</a></li>
					<li><a href="{% url 'portfolio:list' %}">portfolio</a></li>
					<li><a href="{% static 'cv.pdf' %}" download="Yushkova_CV" class="hvr-bounce-to-right get-cv-btn">get CV</a></li>
				</ul>
				<div class="burger">
					<div class="line1"></div>
					<div class="line2"></div>
					<div class="line3"></div>
				</div>
			</nav>
		</header>
		<section class="about-main">
			<div class="icons-all">
				<a href="https://www.linkedin.com/in/yuliya-yushkova/" target="_blank" rel="noopener"><img src="{% static 'linkedin_about.svg' %}" class="icon" alt="linkedin-icon"></a>
				<a href="mailto:kuroi.kasa1509@gmail.com" class="email-link" target="_blank" rel="noopener"><img src="{% static 'gmail_about.svg' %}" class="icon" alt="email-icon"></a>
				<a href=""><img src="{% static 'skype_about.svg' %}" class="icon" alt="skype-icon"></a>
				<a href="https://github.com/Yulya-Yu" target="_blank" rel="noopener"><img src="{% static 'git_about.svg' %}" class="icon" alt="github-icon"></a>
			</div>
			<div class="intro">
				<div class="intro-text">
					<h4>Hi, I'm Yuliya</h4>
					<h6><span>Front-End Developer</span> based in Tomsk, Russia.</h6>
					<p>I have a passion for web design and love to create clean and responsive layouts using the latest technologies available. If you have a project in mind, think you can use my help with something or just fancy saying hi, <span>get in touch.</span></p>
				</div>
			</div>
		</section>
		<section class="services">
			<h3>what can I do for you</h3>
			<div class="service-cards">
				<div class="card1">
					<h4>web-development</h4>
					<img src="{% static 'webdev.svg' %}" class="webdev service" />
					<p>I can develop a website using the lates, most efficient technologies available.</p>
				</div>
				<div class="card2">
					<h4>responsive web-design</h4>
					<img src="{% static 'respdesign.svg' %}" class="responsive design service" />
					<p>mobile-friendly website is no longer optional: it’s a necessity. It all starts with responsive web design.</p>
				</div>
				<div class="card3">
					<h4>maintenance & optimization</h4>
					<img src="{% static 'maint.svg' %}" class="maintenance & optimization service" />
					<p>to stay up-to-date websites should be maintained and optimized.</p>
				</div>
			</div>
		</section>
		<section class="tech-stack">
			<div class="tech-header">
				<h3>technologies I use</h3>
			</div>
			<div class="tech-info">
				<div class="tech-text">
					<p></p>
				</div>
				<div class="tech-icons">
					<div class="front-end-icons">
						<h4>Front-End</h4>
						<img src="{% static 'skills/logo-javascript.svg' %}" class="skill-icon" alt="javascript-icon" title="javascript"/>
						<img src="{% static 'skills/html-5.svg' %}" class="skill-icon" alt="html-icon" title="html"/>
						<img src="{% static 'skills/css.svg' %}" class="skill-icon" alt="css-icon" title="css"/>
					</div>
					<div class="libraries">
						<h4>Libraries</h4>
						<img src="{% static 'skills/react.svg' %}" class="skill-icon" alt="react-icon" title="react"/>
					</div>
					<div class="frameworks">
						<h4>Frameworks</h4>
						<img src="{% static 'skills/django.svg' %}" class="skill-icon" alt="django-icon" title="django"/>
					</div>
					<div class="other">
						<h4>Other</h4>
						<img src="{% static 'skills/github-icon.svg' %}" class="skill-icon" alt="github-icon" title="github"/>
						<img src="{% static 'skills/git-icon.svg' %}" class="skill-icon" alt="git-icon" title="git"/>
						<img src="{% static 'skills/ai.svg' %}" class="skill-icon" alt="ai-icon" title="Illustrator"/>
						<img src="{% static 'skills/npm.svg' %}" class="skill-icon" alt="npm-icon" title="npm"/>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script src='{% static "app.js" %}'></script>  
</body>
</html>