	
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="Description" content="FRont-End developer Yushkova, responsive design, react, for hire">
	<title>Articles</title>
	<link rel='stylesheet' href='{% static "styles.css" %}'>
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
</head>
<body>
	<div id="about-main">
		<header class="wrapper">
			<h1><a href="{% url 'home' %}"><img src="{% static 'logo1.png' %}" alt="home-logo" /></a></h1>
			<nav>
				<ul>
					<li><a href="{% url 'portfolio:list' %}">portfolio</a></li>
					<li><a href="{% url 'article:list' %}">blog</a></li>
					<li><a href="{% static 'cv.pdf' %}" download="Yushkova_CV" class="highlight">get CV</a></li>

				</ul>
			</nav>
		</header>
		<div class="about-main">
			<div class="intro">
				<div class="intro-text">
					<h4>Hi, I'm <span>Yuliya</span></h4>
					<p>An aspiring <span>Front-End Developer</span> based in Tomsk, Russia. I have a passion for web design and love to create clean and responsive layouts using the latest technologies available. If you have a project in mind, think you can use my help with something or just fancy saying hi, <span>get in touch.</span></p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>